.danger {
  background-color: red;
}

.light {
  background-color: lightblue;
}

// .divDanger {
//   margin-top: 20px;
//   width: 100px;
//   height: 100px;
// }

.border {
  border: 2.5px solid black;
}
